#calendar-btn {
    android-elevation: 0;
    android-dynamic-elevation-offset: 0;
    font-size: 21;
    height: 1;
    padding-top: 0;
    width: 100;
}

#amount-field {
    font-size: 28;
}

#flag-field {
    font-family: monospace;
    font-weight: bold;
    min-width: 50;
    padding-right: 5;
    width: auto;
}
