<ScrollView>
  <ActionBar class="action-bar" (loaded)="onActionBarLoaded($event)">
    <NavigationButton
      icon="font://&#xe5cd;"
      class="icon nav-icon"
      text="Back"
      (tap)="goBack()"
    ></NavigationButton>
    <Label class="action-bar-title" text="New transaction"></Label>
    <ActionItem
      icon="font://&#xe161;"
      class="icon"
      [class.disabled]="!form.valid"
      text="Save"
      (tap)="save()"
    ></ActionItem>
  </ActionBar>

  <StackLayout class="page form" [formGroup]="form">

    <Label class="label" text="Date"></Label>
    <FlexboxLayout
      flexDirection="row"
      class="field-wrapper"
      [class.field-error]="hasError('date')"
    >
      <TextField
        class="field"
        formControlName="date"
        keyboardType="datetime"
      ></TextField>
      <Label
        class="field-addon icon calendar-addon"
        text="&#xe878;"
        (tap)="showDatePicker()"
      ></Label>
    </FlexboxLayout>

    <Label class="label" text="Amount"></Label>
    <FlexboxLayout
      flexDirection="row"
      class="field-wrapper"
      [class.field-error]="hasError('amount')"
    >
      <TextField
        id="amount-field"
        class="field"
        formControlName="amount"
        [keyboardType]="amountFieldKeyboardType"
        (loaded)="onAmountFieldLoaded($event)"
        (returnPress)="hideKeyboard()"
        (doubleTap)="enableArithmeticExpressions()"
      ></TextField>
      <TextField
        id="flag-field"
        class="field-addon"
        formControlName="flag"
        editable="false"
        (tap)="changeTransactionFlag()"
        (focus)="hideKeyboard()"
      ></TextField>
    </FlexboxLayout>

    <Label class="label" text="Commodity"></Label>
    <FlexboxLayout
      flexDirection="row"
      class="field-wrapper"
      [class.field-error]="hasError('commodity')"
    >
      <TextField
        class="field"
        hint="Tap to select"
        formControlName="commodity"
        editable="false"
        (tap)="showCommodityPicker()"
      ></TextField>
      <Label
        class="field-addon icon"
        text="&#xe241;"
        (tap)="showCommodityPicker()"
      ></Label>
    </FlexboxLayout>

    <Label
      class="label"
      [text]="account1Label"
    ></Label>
    <FlexboxLayout
      flexDirection="row"
      class="field-wrapper"
      [class.field-error]="hasError(account1Name)"
    >
      <TextField
        class="field"
        hint="Tap to select"
        editable="false"
        [formControlName]="account1Name"
        (tap)="showAccountPicker(account1Name)"
      ></TextField>
      <Label
        class="field-addon icon"
        text="&#xe241;"
        (tap)="showAccountPicker(account1Name)"
      ></Label>
    </FlexboxLayout>

    <Label
      class="label"
      [text]="account2Label"
    ></Label>
    <FlexboxLayout
      flexDirection="row"
      class="field-wrapper"
      [class.field-error]="hasError(account2Name)"
    >
      <TextField
        class="field"
        hint="Tap to select"
        editable="false"
        [formControlName]="account2Name"
        (tap)="showAccountPicker(account2Name)"
      ></TextField>
      <Label
        class="field-addon icon"
        text="&#xe241;"
        (tap)="showAccountPicker(account2Name)"
      ></Label>
    </FlexboxLayout>

    <Label class="label" text="Payee"></Label>
    <FlexboxLayout
      flexDirection="row"
      class="field-wrapper"
      [class.field-error]="hasError('payee')"
    >
      <TextField
        class="field"
        hint="Tap to select"
        editable="false"
        formControlName="payee"
        (tap)="showPayeePicker()"
      ></TextField>
      <Label
        class="field-addon icon"
        text="&#xe241;"
        (tap)="showPayeePicker()"
      ></Label>
    </FlexboxLayout>

    <Label class="label" text="Description"></Label>
    <FlexboxLayout
      flexDirection="row"
      class="field-wrapper"
      [class.field-error]="hasError('narration')"
    >
      <TextField
        #descriptionField
        class="field"
        hint="Enter description"
        autocorrect="true"
        formControlName="narration"
      ></TextField>
    </FlexboxLayout>

  </StackLayout>
</ScrollView>
