<ActionBar class="action-bar">
  <NavigationButton android.systemIcon="ic_menu_back" text="Back" (tap)="goBack()"></NavigationButton>
  <Label class="action-bar-title" text="New transaction"></Label>
  <ActionItem *ngIf="form.valid" android.systemIcon="ic_menu_save" text="Save" (tap)="save()"></ActionItem>
</ActionBar>

<StackLayout [formGroup]="form" class="form">

  <Label text="Account 1 (from)"></Label>
  <TextField
    hint="Tap to select an account"
    editable="false"
    formControlName="accountFrom"
    (tap)="showAccountPicker('accountFrom')"
  ></TextField>

  <Label text="Account 2 (to)"></Label>
  <TextField
    hint="Tap to select an account"
    editable="false"
    formControlName="accountTo"
    (tap)="showAccountPicker('accountTo')"
  ></TextField>

  <Label text="Amount"></Label>
  <TextField formControlName="amount" keyboardType="number"></TextField>

  <Label text="Currency"></Label>
  <TextField
    hint="Tap to select a currency"
    editable="false"
    formControlName="commodity"
    (tap)="showCommodityPicker()"
  ></TextField>

  <Label text="Date"></Label>
  <TextField formControlName="date" keyboardType="datetime"></TextField>

  <Label text="Payee"></Label>
  <TextField
    hint="Tap to select a payee"
    editable="false"
    formControlName="payee"
    (tap)="showPayeeModal()"
  ></TextField>

  <Label text="Description"></Label>
  <TextField formControlName="narration"></TextField>

  <Button text="add" (tap)="save()" [isEnabled]="form.valid"></Button>

</StackLayout>
