<StackLayout class="modal">
  <Label
    class="modal-header"
    text="Select payee"></Label>
  <TextField
    #payeeField
    class="field"
    hint="Enter name or choose from a list"
    [formControl]="payee"
    (ngModelChange)="filterPayees()"
  ></TextField>

  <ListView
    *ngIf="payees.length > 0"
    class="list"
    [items]="payees"
  >
    <ng-template let-payee="item">
      <Label
        class="list-item"
        [text]="payee"
        (tap)="onPayeeTap(payee)"
      ></Label>
    </ng-template>
  </ListView>

  <Label
    *ngIf="payees.length == 0"
    class="list-empty"
    text="No payees found"
  ></Label>
  <Button
    [className]="payee.valid ? 'btn' : 'btn btn-disabled'"
    text="Select"
    (tap)="select()"
    [isEnabled]="payee.valid"
  ></Button>
</StackLayout>
