<GridLayout
  columns="*,*"
  rows="auto,auto,*,auto"
  class="modal"
>
  <Label
    row="0" colSpan="2"
    class="modal-header"
    text="Select payee"></Label>
  <TextField
    #payeeField
    row="1" colSpan="2"
    class="field"
    hint="Enter name or choose from a list"
    [formControl]="payee"
    (ngModelChange)="filterPayees()"
  ></TextField>
  <ListPicker
    *ngIf="payees.length > 0"
    row="2" colSpan="2"
    [items]="payees"
    (tap)="onPayeeTap($event)"
  ></ListPicker>
  <Label
    *ngIf="payees.length == 0"
    row="2" colSpan="2"
    class="empty-picker"
    text="No payees found"
  ></Label>
  <Button
    col="0" row="3"
    class="btn"
    text="Cancel"
    (tap)="cancel()"
  ></Button>
  <Button
    col="1" row="3"
    class="btn"
    text="Select"
    (tap)="select()"
    [isEnabled]="payee.valid"
  ></Button>
</GridLayout>
