<GridLayout
  columns="*,*"
  rows="auto,*,auto"
  width="300"
>
  <Label
    row="0" colSpan="2"
    class="modal-header"
    text="Select currency"
  ></Label>
  <ListPicker
    *ngIf="commodities.length > 0"
    row="1" colSpan="2"
    [items]="commodities"
    [(ngModel)]="selectedIndex"
  ></ListPicker>
  <Label
    *ngIf="commodities.length == 0"
    row="1" colSpan="2"
    class="empty-picker"
    text="No currencies found"
  ></Label>
  <Button
    col="0" row="2"
    class="btn"
    text="Cancel"
    (tap)="cancel()"
  ></Button>
  <Button
    col="1" row="2"
    class="btn"
    text="Select"
    (tap)="select()"
  ></Button>
</GridLayout>
