<StackLayout class="modal">
  <Label
    class="modal-header"
    text="Select currency"
  ></Label>
  <ListView
    *ngIf="commodities.length > 0"
    class="list"
    [items]="commodities"
  >
    <ng-template let-commodity="item">
      <Label
        class="list-item"
        [text]="commodity"
        (tap)="select(commodity)"
      ></Label>
    </ng-template>
  </ListView>
  <Label
    *ngIf="commodities.length == 0"
    row="1" colSpan="2"
    class="list-empty"
    text="No currencies found"
  ></Label>
</StackLayout>
