<StackLayout class="modal">
  <Label
    class="modal-header"
    text="Select account"
  ></Label>
  <TextField
    #accountField
    class="field"
    hint="Start typing..."
    [formControl]="account"
    (ngModelChange)="filterAccounts()"
  ></TextField>

  <ListView
    *ngIf="accounts.length > 0"
    class="list"
    [items]="accounts"
  >
    <ng-template let-account="item">
      <Label
        class="list-item"
        [text]="account"
        (tap)="onAccountTap(account)"
      ></Label>
    </ng-template>
  </ListView>

  <Label
    *ngIf="accounts.length == 0"
    class="list-empty"
    text="No accounts found"
  ></Label>

  <Button
    [className]="account.valid ? 'btn' : 'btn btn-disabled'"
    text="Select"
    (tap)="select()"
    [isEnabled]="account.valid"
  ></Button>
</StackLayout>
