@import '../../app-variables';

.page {
    background: linear-gradient(to bottom, #205081, #236E8C);
}

$welcome-text-color: #A6C0CF;

.welcome-label {
    color: $welcome-text-color;
    font-size: 16;
    letter-spacing: 0.04;
    margin-bottom: 0;
}

#welcome-title {
    color: #FFF;
    font-size: 46;
    font-weight: 300;
    margin-bottom: 16;
}

#welcome-text {
    margin-bottom: 16;
}

#file-path-input {
    border-bottom-width: 1;
    border-color: $welcome-text-color;
    color: $welcome-text-color;
    font-size: 16;
    margin-bottom: 8;
    padding-bottom: 1;
}

.btn {
    background-color: #F7F4D3;
    border-radius: 15;
    color: $button-color;
    height: 48;
    margin: 8 0;
}

.btn-highlighted {
    background-color: $secondary-color;
}

.btn-disabled {
    background-color: #F7F7F7;
    color: #999999;
}
