@import '../../app-variables';

.page {
    background: linear-gradient(to bottom, #205081, #236E8C);
}

.welcome-label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16;
    letter-spacing: 0.04;
    margin-bottom: 0;
}

#welcome-title {
    color: white;
    font-size: 46;
    font-weight: 300;
    margin-bottom: 16;
}

#welcome-text {
    margin-bottom: 16;
}

#file-path-input {
    border-bottom-width: 1;
    border-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16;
    margin-bottom: 8;
    padding-bottom: 1;
}

.btn {
    border-radius: 15;
    background-color: #F7F4D3;
    color: $button-color;
    height: 48;
    margin: 8 0;
}

.btn-highlighted {
    background-color: $secondary-color;
}

.btn-disabled {
    background-color: #F7F7F7;
    color: #999999;
}
