<ActionBar class="action-bar" (loaded)="onActionBarLoaded($event)">
  <!--
  It is not yet possible to use icon font with NavigationButton
  https://github.com/NativeScript/NativeScript/issues/7520
  -->
  <NavigationButton
    icon="res://baseline_close_white_24"
    text="Back"
    (tap)="goBack()"
  ></NavigationButton>
  <Label class="action-bar-title" text="New account"></Label>
  <ActionItem
    icon="font://&#xe161;"
    class="icon"
    text="Save"
    (tap)="save()"
  ></ActionItem>
</ActionBar>

<StackLayout class="form" [formGroup]="form">

  <Label text="Date"></Label>
  <TextField formControlName="date" keyboardType="datetime"></TextField>

  <Label text="Name"></Label>
  <TextField formControlName="name"></TextField>

</StackLayout>
