$main-color: #255C8C;
$main-text-color: #E2E9F0;
$secondary-color: #F49D96;

$button-color: #507CA3;
$button-text-color: #CAD7E3;

$form-label-color: #808080;
$form-field-color: $button-color;
$form-placeholder-color: #CCCCCC;
$form-underline-color: #D9D9D9;
