/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
@import 'app-variables';

.icon {
    font-family: "Material Icons", "MaterialIcons-Regular";
}

.btn {
    android-elevation: 3;
    border-radius: 10;
    background-color: #507CA3;
    color: white;
    font-size: 14;
    font-weight: 500;
    letter-spacing: 0.1;
    margin: 5;
}

/* Action bar */

.action-bar {
    background-color: $main-color;
    color: $main-text-color;
}

.action-bar-title {
    horizontal-align: left;
}

.action-bar .icon {
    font-size: 11;
}

/* Forms */

.form {
    padding: 20;
}

.label {
    color: $form-label-color;
    font-size: 14;
    margin: 0 0 5;
    padding: 0;
}

.field-wrapper {
    margin-bottom: 20;
}

.field {
    border-bottom-width: 1;
    border-bottom-color: $form-underline-color;
    color: $form-field-color;
    font-size: 16;
    margin: 0;
    padding: 0;
    placeholder-color: $form-placeholder-color;
}

.field-addon {
    border-bottom-width: 1;
    border-bottom-color: $form-underline-color;
    color: $form-field-color;
    font-size: 20;
    margin: 0;
    padding: 3 0 0;
    text-align: right;
    width: 30;
}

/* Misc */

.modal {
    padding: 10;
    width: 300;
}

.modal-header {
    margin: 5 0;
    font-size: 18;
    text-align: center;
}

.empty-picker {
    margin: 10;
    text-align: center;
}
