/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

.icon {
    font-family: "Material Icons", "MaterialIcons-Regular";
}

.btn {
    android-elevation: 3;
    border-radius: 10;
    background-color: #507CA3;
    color: white;
    font-size: 14;
    font-weight: 500;
    letter-spacing: 0.1;
    margin: 5;
}

.form Label {
    margin: 5 5 0;
}

.action-bar {
    background-color: #255c8c;
    color: #E2E9F0;
}

.action-bar-title {
    horizontal-align: left;
}

.action-bar .icon {
    font-size: 11;
}

.modal-header {
    margin: 5 0;
    font-size: 18;
    text-align: center;
}

.empty-picker {
    margin: 10;
    text-align: center;
}
