<ActionBar class="action-bar" (loaded)="onActionBarLoaded($event)">
  <NavigationButton
    icon="font://&#xe5cd;"
    class="icon nav-icon"
    text="Back"
    (tap)="goBack()"
  ></NavigationButton>
  <Label class="action-bar-title" text="New commodity"></Label>
  <ActionItem
    icon="font://&#xe161;"
    class="icon"
    [class.disabled]="!form.valid"
    text="Save"
    (tap)="save()"
  ></ActionItem>
</ActionBar>

<StackLayout class="page form" [formGroup]="form">

  <Label class="label" text="Date"></Label>
  <FlexboxLayout
    flexDirection="row"
    class="field-wrapper"
    [class.field-error]="hasError('date')"
  >
    <TextField
      class="field"
      formControlName="date"
      keyboardType="datetime"
    ></TextField>
    <Label
      class="field-addon icon calendar-addon"
      text="&#xe878;"
      (tap)="showDatePicker()"
    ></Label>
  </FlexboxLayout>

  <Label class="label" text="Name"></Label>
  <FlexboxLayout
    flexDirection="row"
    class="field-wrapper"
    [class.field-error]="hasError('name')"
  >
    <TextField
      class="field"
      formControlName="name"
      (loaded)="onNameFieldLoaded($event)"
    ></TextField>
  </FlexboxLayout>

</StackLayout>
