<ActionBar class="action-bar">
  <NavigationButton icon="res://baseline_menu_black_24" (tap)="openDrawer()"></NavigationButton>
  <Label class="action-bar-title" [text]="fileTitle"></Label>
  <ActionItem
    android.systemIcon="ic_find_previous_holo_light"
    text="Scroll to top"
    (tap)="scrollToTop()"
  ></ActionItem>
  <ActionItem
    android.systemIcon="ic_find_next_holo_light"
    text="Scroll to bottom"
    (tap)="scrollToBottom()"
  ></ActionItem>
  <ActionItem
    android.position="popup"
    text="Add transaction"
    (tap)="addTransaction()"
  ></ActionItem>
  <ActionItem
    android.position="popup"
    text="Add account"
    (tap)="addAccount()"
  ></ActionItem>
</ActionBar>

<GridLayout rows="*" height="100%">
  <PullToRefresh (refresh)="reloadFile($event)">
    <ScrollView #fileTextView id="file-content">
      <Label textWrap="true" text="{{ fileText }}"></Label>
    </ScrollView>
  </PullToRefresh>
  <Fab
    icon="ic_input_add"
    class="fab-button add-transaction"
    (tap)="addTransaction()"
    (loaded)="onAddButtonLoaded($event)"
  ></Fab>
</GridLayout>
