<ActionBar class="action-bar" (loaded)="onActionBarLoaded($event)">
  <!--
  It is not yet possible to use icon font with NavigationButton
  https://github.com/NativeScript/NativeScript/issues/7542
  -->
  <NavigationButton
    icon="res://baseline_menu_black_24"
    (tap)="openDrawer()"
  ></NavigationButton>
  <Label class="action-bar-title" [text]="fileTitle"></Label>
  <ActionItem
    icon="font://&#xe5ce;"
    class="icon"
    text="Scroll to top"
    (tap)="scrollToTop()"
  ></ActionItem>
  <ActionItem
    icon="font://&#xe5cf;"
    class="icon"
    text="Scroll to bottom"
    (tap)="scrollToBottom()"
  ></ActionItem>
  <ActionItem
    android.position="popup"
    text="Add transaction"
    (tap)="addTransaction()"
  ></ActionItem>
  <ActionItem
    android.position="popup"
    text="Add account"
    (tap)="addAccount()"
  ></ActionItem>
</ActionBar>

<GridLayout rows="*" height="100%">
  <PullToRefresh (refresh)="reloadFile($event)">
    <ScrollView #fileTextView>
      <Label
        id="file-content"
        text="{{ fileText }}"
        textWrap="true"
        (textChange)="onFileTextChanged()"
      ></Label>
    </ScrollView>
  </PullToRefresh>
  <Fab
    class="fab-button add-transaction"
    (tap)="addTransaction()"
    (loaded)="onAddButtonLoaded($event)"
  ></Fab>
</GridLayout>
