@import '../../app-variables';

#file-content {
    color: #707070;
    font-family: monospace;
    font-size: 12;
    padding: 10;
}

.fab-button {
    background-color: $main-color;
    color: $main-text-color;
    font-family: 'normal';
    font-size: 16;
    height: 70;
    horizontal-align: right;
    ripple-color: $main-text-color;
    vertical-align: bottom;
    width: 70;
}

.add-transaction {
    margin: 0 20 20 0;
}
