<ActionBar class="action-bar">
  <NavigationButton icon="res://baseline_menu_black_24" (tap)="openDrawer()"></NavigationButton>
  <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<StackLayout [formGroup]="form" class="form">
  <Label text="Path to beancount file"></Label>
  <TextField formControlName="filePath"></TextField>
  <Button text="Browse" (tap)="openFilePicker()"></Button>

  <Button text="save" (tap)="onSave()" [isEnabled]="canSave()"></Button>
  <Button text="reset" (tap)="onReset()"></Button>
</StackLayout>
