<ActionBar class="action-bar">
  <NavigationButton icon="res://baseline_menu_black_24" (tap)="openDrawer()"></NavigationButton>
  <Label class="action-bar-title" text="Settings"></Label>
  <ActionItem *ngIf="canSave()" android.systemIcon="ic_menu_save" text="Save" (tap)="save()"></ActionItem>
</ActionBar>

<StackLayout [formGroup]="form" class="form">
  <Label text="Path to beancount file"></Label>
  <TextField formControlName="filePath"></TextField>
  <Button text="Browse" (tap)="openFilePicker()"></Button>
  <Button text="save" (tap)="save()" [isEnabled]="canSave()"></Button>
  <StackLayout class="hr-light"></StackLayout>
  <Label text="Reset app settings and go back to Welcome screen"></Label>
  <Button text="reset" (tap)="reset()"></Button>
</StackLayout>
