<ActionBar class="action-bar">
  <NavigationButton icon="res://baseline_menu_black_24" (tap)="openDrawer()"></NavigationButton>
  <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<StackLayout [formGroup]="form" class="form">
  <Label text="Path to beancount file"></Label>
  <TextField formControlName="filePath"></TextField>
  <Button class="btn" text="browse" (tap)="openFilePicker()"></Button>
  <Button class="btn" text="save" (tap)="save()" [isEnabled]="canSave()"></Button>

  <StackLayout class="hr-light"></StackLayout>
  <Label text="Reset app settings and go back to Welcome screen"></Label>
  <Button class="btn" text="reset" (tap)="reset()"></Button>
</StackLayout>
